# Construindo um Data Lake: Entenda o Conceito e Veja na Prática

### Instalando as dependências

In [ ]:
! pip install -r ../requirements.txt

In [2]:
! pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 17.3 MB/s eta 0:00:0000:0100:01
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 17.1 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.5/502.5 kB 71.1 MB/s eta 0:00:00
Collecting numpy>=1.20.3
  Downloading numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.3/17.3 MB 36.4 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/jupyter/python/jupyter/.venv/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/jupyter/python/jupyter/.venv/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.4 pandas-2.0.3 pytz-2023.3.post1 tzdata-2023.3

[notice] A new release of pip available: 22.2.2 -> 23.3.1
[notice] To update, run: pip install --upgrade pip

### Configurando as credenciais do projeto

In [1]:
from toml import load

with open("credentials.toml", "r") as toml_file:
    credentials = load(toml_file)

user = credentials.get("credentials1").get("key1")
password = credentials.get("credentials1").get("key2")
print(user, "\n", password)

value1
 value2999

### Teste de import das bases

In [23]:
import pandas as pd
import numpy as np

customer_df = pd.read_csv("customer.txt", sep=";")

In [13]:
display(customer_df)

,customer_id,client_name,email_address,phone_number,registration_date,date_of_birth,sex,address,city,state,customer_category
0,1,Cobbie Crackett,ccrackett0@scientificamerican.com,833-662-1463,2021-03-13,1996-10-08,Male,58 Florence Way,Madīnat Ḩamad,NaN,new
1,2,Rianon Jaquet,rjaquet1@xinhuanet.com,153-712-5740,2018-11-08,1972-11-11,Female,478 Anniversary Junction,Balakhta,NaN,regular
2,3,Upton Driffill,udriffill2@go.com,734-247-9429,2010-05-06,2003-04-05,Male,8 Dexter Road,Shancheng,NaN,VIP
3,4,Corenda Withringten,cwithringten3@stumbleupon.com,695-445-0470,2016-07-30,1998-10-03,Female,86 Bobwhite Hill,Little Current,Ontario,new
4,5,Brett Heinish,bheinish4@squarespace.com,755-447-4251,2020-06-13,1978-10-20,Male,4037 Melrose Park,Oxelösund,Södermanland,VIP
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Doralia Strapp,dstrapprn@google.cn,638-664-1281,2019-12-22,1995-09-17,Female,200 Loftsgordon Circle,Paris 17,Île-de-France,regular
996,997,Gran Putland,gputlandro@foxnews.com,349-393-4818,2011-02-16,1969-12-08,Male,6692 Sherman Road,Zorgo,NaN,new
997,998,Danila Issard,dissardrp@rediff.com,974-675-2181,2013-08-16,1994-08-27,Genderqueer,7641 Porter Pass,Tubod,NaN,new
998,999,Goober Tanton,gtantonrq@discovery.com,979-634-0457,2014-10-30,1979-03-10,Male,589 Rusk Way,Daming,NaN,new
999,1000,Janka Provest,jprovestrr@de.vu,730-313-7990,2017-11-03,2003-03-14,Female,55640 Farwell Avenue,Songping,NaN,regular

In [32]:
sales_df = pd.read_csv("sales.txt", sep=";")

In [11]:
sales_df

,sale_id,customer_id,sale_date,sale_time,sale_value,product_sold,payment_method,sale_status
0,1,358,2023-06-08,16:03,754.26,product2,credit_card,completed
1,2,153,2023-04-26,11:27,2919.10,product1,cash,pending
2,3,257,2023-07-16,1:20,5483.67,product2,cash,cancelled
3,4,392,2023-05-14,7:30,9524.27,product2,credit_card,cancelled
4,5,22,2023-07-05,16:57,2452.25,product1,cash,pending
...,...,...,...,...,...,...,...,...
995,996,320,2023-01-29,1:53,2016.03,product1,paypal,cancelled
996,997,266,2023-07-16,7:05,6200.33,product1,paypal,cancelled
997,998,169,2023-08-25,11:56,6068.44,product3,cash,completed
998,999,15,2023-06-02,4:14,7731.17,product1,credit_card,pending
999,1000,240,2023-03-04,4:16,5631.10,product2,paypal,completed

In [42]:
import pandas as pd


sales_df['datahora'] = pd.to_datetime(sales_df['sale_date'] + ' ' + sales_df['sale_time'])

grouped_sales_df = sales_df.groupby('customer_id').agg({
    'datahora': ['last', 'first'],
    'sale_status': ['count', lambda x: (x == 'completed').sum(), 'sum'],
    'sale_value': 'sum',
    'payment_method': 'nunique',
})

grouped_sales_df.columns = [
    'primeira_datahora', 'última_datahora',
    'total_vendas', 'vendas_finalizadas', 'soma_vendas_finalizadas',
    'soma_vendas_nao_finalizadas', 'num_metodos_pagamento_unicos'
]

grouped_sales_df.reset_index(inplace=True)

In [43]:
grouped_sales_df

,customer_id,primeira_datahora,última_datahora,total_vendas,vendas_finalizadas,soma_vendas_finalizadas,soma_vendas_nao_finalizadas,num_metodos_pagamento_unicos
0,1,2023-04-17 05:52:00,2023-12-30 06:07:00,3,0,pendingcancelledpending,12286.95,2
1,2,2023-10-08 01:35:00,2023-12-07 09:13:00,3,0,pendingcancelledpending,19542.87,2
2,3,2023-02-18 08:47:00,2023-10-23 21:51:00,2,1,cancelledcompleted,7078.00,2
3,4,2023-05-18 09:10:00,2023-03-11 22:31:00,2,1,pendingcompleted,18091.23,2
4,6,2023-03-01 17:39:00,2023-06-19 18:21:00,3,0,cancelledcancelledpending,16663.00,3
...,...,...,...,...,...,...,...,...
426,495,2023-04-10 10:18:00,2023-07-09 08:49:00,2,1,pendingcompleted,8141.80,2
427,496,2023-04-17 20:41:00,2023-04-17 20:41:00,1,0,pending,6332.81,1
428,497,2023-12-29 01:20:00,2023-09-06 02:17:00,2,0,cancelledcancelled,19905.48,2
429,498,2023-07-09 06:30:00,2023-11-06 21:31:00,3,2,completedcancelledcompleted,5999.89,3
430,499,2023-08-25 00:08:00,2023-08-25 00:08:00,1,1,completed,2749.16,1

In [14]:
log_access_df = pd.read_csv("log_access.txt", sep=";")

In [15]:
log_access_df

,log_id,customer_id,access_date,access_time,pages_visited,device,session_duration,source_ip
0,1,406,2022-12-14,15:11,products,tablet,2601,49.249.185.98
1,2,52,2023-05-30,7:50,products,desktop,518,97.145.73.147
2,3,366,2023-06-18,20:21,home page,tablet,3367,246.108.79.188
3,4,387,2023-10-06,12:21,policies,desktop,1057,178.72.69.237
4,5,478,2023-05-25,22:08,home page,mobile,2983,100.145.156.36
...,...,...,...,...,...,...,...,...
995,996,302,2023-10-10,8:47,home page,mobile,2365,219.115.33.237
996,997,451,2023-05-04,22:26,terms of use,mobile,3005,229.118.98.150
997,998,165,2023-01-13,20:52,home page,mobile,2895,62.181.127.188
998,999,129,2023-10-22,14:01,terms of use,desktop,1644,170.189.233.93
999,1000,458,2023-01-19,23:29,products,mobile,2358,45.178.200.209

In [28]:
customer_df["state2"] = customer_df["state"].fillna("not found")

In [29]:
customer_df

,customer_id,client_name,email_address,phone_number,registration_date,date_of_birth,sex,address,city,state,customer_category,state2
0,1,Cobbie Crackett,ccrackett0@scientificamerican.com,833-662-1463,2021-03-13,1996-10-08,Male,58 Florence Way,Madīnat Ḩamad,NaN,new,not found
1,2,Rianon Jaquet,rjaquet1@xinhuanet.com,153-712-5740,2018-11-08,1972-11-11,Female,478 Anniversary Junction,Balakhta,NaN,regular,not found
2,3,Upton Driffill,udriffill2@go.com,734-247-9429,2010-05-06,2003-04-05,Male,8 Dexter Road,Shancheng,NaN,VIP,not found
3,4,Corenda Withringten,cwithringten3@stumbleupon.com,695-445-0470,2016-07-30,1998-10-03,Female,86 Bobwhite Hill,Little Current,Ontario,new,Ontario
4,5,Brett Heinish,bheinish4@squarespace.com,755-447-4251,2020-06-13,1978-10-20,Male,4037 Melrose Park,Oxelösund,Södermanland,VIP,Södermanland
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Doralia Strapp,dstrapprn@google.cn,638-664-1281,2019-12-22,1995-09-17,Female,200 Loftsgordon Circle,Paris 17,Île-de-France,regular,Île-de-France
996,997,Gran Putland,gputlandro@foxnews.com,349-393-4818,2011-02-16,1969-12-08,Male,6692 Sherman Road,Zorgo,NaN,new,not found
997,998,Danila Issard,dissardrp@rediff.com,974-675-2181,2013-08-16,1994-08-27,Genderqueer,7641 Porter Pass,Tubod,NaN,new,not found
998,999,Goober Tanton,gtantonrq@discovery.com,979-634-0457,2014-10-30,1979-03-10,Male,589 Rusk Way,Daming,NaN,new,not found
999,1000,Janka Provest,jprovestrr@de.vu,730-313-7990,2017-11-03,2003-03-14,Female,55640 Farwell Avenue,Songping,NaN,regular,not found

In [19]:
history_sales_step_1_df = pd.merge(sales_df, customer_df, on="customer_id", how="left")

In [21]:
history_sales_step_2_df = pd.merge(history_sales_step_1_df, log_access_df, on="customer_id", how="inner")

In [20]:
history_sales_step_1_df

,sale_id,customer_id,sale_date,sale_time,sale_value,product_sold,payment_method,sale_status,client_name,email_address,phone_number,registration_date,date_of_birth,sex,address,city,state,customer_category
0,1,358,2023-06-08,16:03,754.26,product2,credit_card,completed,Clementius O'Beirne,cobeirne9x@hatena.ne.jp,968-744-2239,2014-01-03,2000-05-06,Male,31927 Bashford Park,Hujiagou,NaN,regular
1,2,153,2023-04-26,11:27,2919.10,product1,cash,pending,Chet Imort,cimort48@arstechnica.com,193-677-9957,2010-01-22,1965-11-17,Male,27 International Court,Riang Tengah,NaN,new
2,3,257,2023-07-16,1:20,5483.67,product2,cash,cancelled,Any Sides,asides74@wordpress.com,611-910-0465,2016-12-13,2001-01-27,Male,5800 Hauk Place,Baisha,NaN,regular
3,4,392,2023-05-14,7:30,9524.27,product2,credit_card,cancelled,Benjamen Richmond,brichmondav@nytimes.com,412-449-1772,2010-03-03,1965-04-13,Male,32132 Gerald Parkway,Yuanshanzi,NaN,regular
4,5,22,2023-07-05,16:57,2452.25,product1,cash,pending,Benn Anderton,bandertonl@reverbnation.com,181-487-9553,2010-07-22,1962-07-19,Male,5 Kensington Street,Ngulahan,NaN,VIP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,320,2023-01-29,1:53,2016.03,product1,paypal,cancelled,Donni Maric,dmaric8v@fotki.com,145-827-8583,2022-04-21,1955-10-15,Female,5602 Darwin Circle,Troyes,Champagne-Ardenne,regular
996,997,266,2023-07-16,7:05,6200.33,product1,paypal,cancelled,Kingsley Simmonite,ksimmonite7d@surveymonkey.com,520-330-8356,2018-08-05,1963-10-03,Male,413 Nelson Point,Dipayal,NaN,regular
997,998,169,2023-08-25,11:56,6068.44,product3,cash,completed,Gustav Geraud,ggeraud4o@domainmarket.com,112-597-4284,2010-07-15,2005-06-22,Male,0 Fordem Point,Medvedok,NaN,new
998,999,15,2023-06-02,4:14,7731.17,product1,credit_card,pending,Odey Smedmore,osmedmoree@dmoz.org,669-390-4842,2017-06-27,1966-02-20,Male,40 Becker Trail,Kanigorokrajan,NaN,new
999,1000,240,2023-03-04,4:16,5631.10,product2,paypal,completed,Sara Heardman,sheardman6n@chicagotribune.com,386-130-5618,2016-10-31,1972-02-20,Female,42 Montana Avenue,Soloma,NaN,VIP

In [22]:
history_sales_step_2_df

,sale_id,customer_id,sale_date,sale_time,sale_value,product_sold,payment_method,sale_status,client_name,email_address,...,city,state,customer_category,log_id,access_date,access_time,pages_visited,device,session_duration,source_ip
0,1,358,2023-06-08,16:03,754.26,product2,credit_card,completed,Clementius O'Beirne,cobeirne9x@hatena.ne.jp,...,Hujiagou,NaN,regular,28,2022-11-14,17:22,policies,desktop,526,74.202.243.208
1,1,358,2023-06-08,16:03,754.26,product2,credit_card,completed,Clementius O'Beirne,cobeirne9x@hatena.ne.jp,...,Hujiagou,NaN,regular,324,2023-07-09,14:27,policies,desktop,776,85.33.189.25
2,249,358,2023-02-18,12:59,1795.96,product3,cash,pending,Clementius O'Beirne,cobeirne9x@hatena.ne.jp,...,Hujiagou,NaN,regular,28,2022-11-14,17:22,policies,desktop,526,74.202.243.208
3,249,358,2023-02-18,12:59,1795.96,product3,cash,pending,Clementius O'Beirne,cobeirne9x@hatena.ne.jp,...,Hujiagou,NaN,regular,324,2023-07-09,14:27,policies,desktop,776,85.33.189.25
4,622,358,2023-04-12,12:13,4556.94,product1,credit_card,pending,Clementius O'Beirne,cobeirne9x@hatena.ne.jp,...,Hujiagou,NaN,regular,28,2022-11-14,17:22,policies,desktop,526,74.202.243.208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1979,944,479,2023-09-12,19:54,2930.06,product3,cash,pending,Briney Van der Velden,bvanda@oakley.com,...,Sławatycze,NaN,regular,775,2022-12-12,11:36,terms of use,desktop,246,157.58.113.73
1980,967,479,2023-09-26,5:42,3334.36,product1,credit_card,cancelled,Briney Van der Velden,bvanda@oakley.com,...,Sławatycze,NaN,regular,775,2022-12-12,11:36,terms of use,desktop,246,157.58.113.73
1981,982,408,2023-11-22,17:59,8650.60,product3,credit_card,completed,Jerrylee De Cleen,jdebb@yale.edu,...,Västerås,Västmanland,regular,278,2023-06-23,5:21,terms of use,tablet,1187,175.184.107.217
1982,993,301,2023-01-19,20:01,4206.05,product2,cash,cancelled,Ophelie Amey,oamey8c@sitemeter.com,...,Paris 05,Île-de-France,VIP,428,2023-10-14,16:28,products,desktop,139,189.242.253.238
1983,993,301,2023-01-19,20:01,4206.05,product2,cash,cancelled,Ophelie Amey,oamey8c@sitemeter.com,...,Paris 05,Île-de-France,VIP,862,2023-08-04,3:46,terms of use,mobile,485,131.43.140.246